<div class="content">
<h3>Save Your Book Mark </h3>

<form action="home/save" Method="Post" >
Title :<br/>
<input type="text" name="data[title]" class="bar" /><br/>
Url : <br/>
<input type="text" name="data[url]" class="bar" /><br/>
Tags : <br/>
<input type="text" name="data[tags]" class="bar" />
<br/><br/>
<input type="submit" value="Save" />

</form>
 
</div>

<div class="searchBar" id="search_template"></div>




